<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="HoangHoa">
    <title>{{title}} | HT Shop</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/assets/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/assets/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/assets/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/assets/img/apple-touch-icon-144x144-precomposed.png">
	
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="/assets/css/bootstrap.custom.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">

	  <!-- SPECIFIC CSS -->
    {% block css %}{% endblock %}

    <!-- YOUR CUSTOM CSS -->
    <link href="/assets/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/toastr.min.css">
</head>

<body>
	
	<div id="page">
  {% include "frontend/layouts/header.twig" %}
  {% block content %}{% endblock %}
  {% include "frontend/layouts/footer.twig" %}
  </div>
	<!-- page -->
	
	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- COMMON SCRIPTS -->
    <script src="/assets/js/common_scripts.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/toastr.min.js"></script>
    <script>
      toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
      $(document).ready(function() {
        {% if session_get_flash('success') %}
          toastr["success"]("{{ session_get_flash('success') }}", "Thành công")
        {% endif %}
        {% if session_get_flash('error') %}
          toastr["error"]("{{ session_get_flash('error') }}", "Lỗi")
        {% endif %}
      })
    </script>
	<!-- SPECIFIC SCRIPTS -->
  {% block javascript %}{% endblock %}
</body>
</html>