{% extends "layouts/base.twig" %}
{% block content %}
	<div id="content" class="site-content" tabindex="-1">
		<div class="container">

			<nav class="woocommerce-breadcrumb">
				<a href="{{ url('home') }}">Trang chủ</a>
				<span class="delimiter">
					<i class="fa fa-angle-right"></i>
				</span>Tài khoản</nav>
			<!-- .woocommerce-breadcrumb -->

			<div id="primary" class="content-area">
				<main id="main" class="site-main">
					<article id="post-8" class="hentry">

						<div class="entry-content">
							<div class="woocommerce">
								<div class="customer-login-form">
									<span class="or-text">hoặc</span>

									<div class="col2-set" id="customer_login">

										<div class="col-1">


											<h2>Đăng nhập</h2>

											<form method="post" class="login">

												<p class="before-login-text">Chào mừng trở lại! đăng nhập vào tài khoản của bạn</p>

												<p class="form-row form-row-wide">
													<label for="username">Tên người dùng hoặc địa chỉ email<span class="required">*</span>
													</label>
													<input type="text" class="input-text" name="username" id="username" value=""/>
												</p>

												<p class="form-row form-row-wide">
													<label for="password">Mật khẩu<span class="required">*</span>
													</label>
													<input class="input-text" type="password" name="password" id="password"/>
												</p>

												<p class="form-row">
													<input class="button" type="submit" value="Đăng nhập" name="login">
													<label for="rememberme" class="inline"><input name="rememberme" type="checkbox" id="rememberme" value="forever"/>
														Ghi nhớ</label>
												</p>

												<p class="lost_password">
													<a href="login-and-register.html">Quên mật khẩu?</a>
												</p>

											</form>


										</div>
										<!-- .col-1 -->

										<div class="col-2">

											<h2>Đăng ký</h2>

											<form method="post" class="register">

												<p class="before-register-text">Tạo tài khoản của riêng bạn</p>

												<p class="form-row form-row-wide">
													<label for="reg_email">Địa chỉ email<span class="required">*</span>
													</label>
													<input type="email" class="input-text" name="email" id="reg_email" value=""/>
												</p>

												<p class="form-row"><input type="submit" class="button" name="register" value="Tiếp tục"/></p>

												<div class="register-benefits">
													<h3>Đăng ký ngay hôm nay và bạn sẽ có thể:</h3>
													<ul>
														<li>Thanh toán đơn giản và tiện lợi</li>
														<li>Theo dõi đơn đặt hàng của bạn một cách dễ dàng</li>
														<li>Ghi lại tất cả các giao dịch mua của bạn</li>
													</ul>
												</div>

											</form>

										</div>
										<!-- .col-2 -->

									</div>
									<!-- .col2-set -->

								</div>
								<!-- /.customer-login-form -->
							</div>
							<!-- .woocommerce -->
						</div>
						<!-- .entry-content -->

					</article>
					<!-- #post-## -->

				</main>
				<!-- #main -->
			</div>
			<!-- #primary -->

		</div>
		<!-- .col-full -->
	</div>
	<!-- #content -->
{% endblock %}
