{% include 'admin/layouts/header.twig' %}
{% block css %}{% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
{% include 'admin/layouts/header_menu.twig' %}
{% include 'admin/layouts/aside.twig' %}
<div class="content-wrapper">
{% if session_get_flash('success') %}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <h4><i class="icon fa fa-check"></i> Thành công!</h4>
  {{ session_get_flash('success') }}
</div>
{% endif %}
{% if session_get_flash('error') %}
<div class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <h4><i class="icon fa fa-ban"></i> Có lỗi!</h4>
  {{ session_get_flash('error') }}
</div>
{% endif %}
{% block content %}{% endblock %}
</div>
{% include 'admin/layouts/footer.twig' %}
{% block javascript %}{% endblock %}
</body>
</html>