{% extends "frontend/layouts/base.twig" %}
{% block css %}
<link href="/assets/css/account.css" rel="stylesheet">
{% endblock %}
{% block javascript %}
<script src="/assets/js/jquery.validate.min.js"></script>

<script>
    // Client type Panel
  $('input[name="client_type"]').on("click", function() {
      var inputValue = $(this).attr("value");
      var targetBox = $("." + inputValue);
      $(".box").not(targetBox).hide();
      $(targetBox).show();
  });

	$(function() {
  $.validator.setDefaults({
    highlight: function(element) {
      $(element)
        .closest('.form-group')
        .addClass('has-error')
    },
    unhighlight: function(element) {
      $(element)
        .closest('.form-group')
        .removeClass('has-error')
    }
  });

  $("#login").validate({
    rules: {
      email: "required",
      password: "required",
      email: {
        required: true,
        email: true
      },
      password: {
        required: true,
        minlength: 5
      },
    },

    messages: {
      email: {
				required: "Vui lòng nhập email",
      	email: "Vui lòng nhập đúng định dạng email"
			},
      password: {
        required: "Vui lòng cung cấp mật khẩu",
        minlength: "Mật khẩu phải từ 5 ký tự trở lên"
      }
    },

    submitHandler: function(form) {
      form.submit();
    }
 })


 $("#register").validate({
    rules: {
			username: "required",
      email: "required",
      email: {
        required: true,
        email: true
      },
      password: {
        required: true,
        minlength: 5
      },
			confirm_password: {
        required: true,
        minlength: 5,
				equalTo: "password"
      },
			accept: "required"
    },

    messages: {
			username: "Vui lòng nhập username",
      email: {
				required: "Vui lòng nhập email",
				email: "Vui lòng nhập đúng định dạng email"
			},
      password: {
        required: "Vui lòng cung cấp mật khẩu",
        minlength: "Mật khẩu phải từ 5 ký tự trở lên"
      },
			confirm_password: {
				required: "Vui lòng cung cấp mật khẩu",
        minlength: "Mật khẩu phải từ 5 ký tự trở lên",
				equalTo: "Mật khẩu không khớp với mật khẩu đã nhập"
			},
			accept: "Vui lòng đọc và đồng ý với điều khoản dịch vụ"
    },

    submitHandler: function(form) {
      form.submit();
    }
 })
});
</script>
{% endblock %}
{% block content %}
<main class="bg_gray">
		
	<div class="container margin_30">
		<div class="page_header">
			<div class="breadcrumbs">
				<ul>
					<li><a href="#">Trang chủ</a></li>
					<li><a href="#">Tài khoản</a></li>
					<li>Tạo tài khoản</li>
				</ul>
		</div>
		<h1>Đăng nhập hoặc tạo tài khoản</h1>
	</div>
	<!-- /page_header -->
			<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-6 col-md-8">
				<div class="box_account">
					<h3 class="client">Đăng nhập</h3>
					<div class="form_container">
            <form action="/user/login" method="post" id="login" name="login">
						<div class="form-group">
							<input type="email" class="form-control" name="email" id="email_in" placeholder="Email*">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" name="password" id="password_in" value="" placeholder="Password*">
						</div>
						<div class="clearfix add_bottom_15">
							<div class="checkboxes float-left">
								<label class="container_check">Ghi nhớ
									<input type="checkbox" name="rememberCheckbox">
									<span class="checkmark"></span>
								</label>
							</div>
							<div class="float-right"><a id="forgot" href="javascript:void(0)">Quên mật khẩu?</a></div>
						</div>
						<div class="text-center"><input type="submit" value="Log In" class="btn_1 full-width"></div>
						</form>

						<div id="forgot_pw">
							<h3>Khôi phục mật khẩu</h3>
							<form action="/user/resetPassword" method="POST">
							<div class="form-group">
								<input type="email" class="form-control" name="email_forgot" id="email_forgot" placeholder="Type your email">
							</div>
							<p>A new password will be sent shortly.</p>
							<div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
							</form>
						</div>
					</div>
					<!-- /form_container -->
				</div>
				<!-- /box_account -->
				<div class="row">
					<div class="col-md-6 d-none d-lg-block">
						<ul class="list_ok">
							<li>Find Locations</li>
							<li>Quality Location check</li>
							<li>Data Protection</li>
						</ul>
					</div>
					<div class="col-md-6 d-none d-lg-block">
						<ul class="list_ok">
							<li>Secure Payments</li>
							<li>H24 Support</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<div class="col-xl-6 col-lg-6 col-md-8">
				<div class="box_account">
					<h3 class="new_client">Đăng ký</h3> <small class="float-right pt-2">* Required Fields</small>
					<form action="/user/register" method="post" id="register" name="register">
					<div class="form_container">
						<div class="form-group">
							<input type="text" class="form-control" name="username" id="username_2" placeholder="Username*">
						</div>
						<div class="form-group">
							<input type="email" class="form-control" name="email" id="email_2" placeholder="Email*">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" name="password" id="password_in_2" value="" placeholder="Password*">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" name="confirm_password" id="confirm_password" value="" placeholder="Confirm password*">
						</div>
						<hr>
						<div class="form-group">
							<label class="container_check">Accept <a href="#0">Terms and conditions</a>
								<input type="checkbox" name="accept">
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="text-center"><input type="submit" value="Register" class="btn_1 full-width"></div>
					</div>
					<!-- /form_container -->
					</form>
				</div>
				<!-- /box_account -->
			</div>
		</div>
		<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!--/main-->
{% endblock %}