<div role="tabpanel" class="tab-pane" id="grid-extended" aria-expanded="true">

	<ul class="products columns-4">

		<li class="product">
			<div class="product-outer">
				<div class="product-inner">
					<span class="loop-product-categories">
						<a href="product-category.html" rel="tag">Smartphones</a>
					</span>
					<a href="single-product.html">
						<h3>Notebook Black Spire V Nitro  VN7-591G</h3>
						<div class="product-thumbnail">
							<img class="wp-post-image" data-echo="assets/images/products/2.jpg" src="assets/images/blank.gif" alt="">
						</div>

						<div class="product-rating">
							<div title="Rated 4 out of 5" class="star-rating">
								<span style="width:80%">
									<strong class="rating">4</strong>
									out of 5</span>
							</div>
							(3)
						</div>

						<div class="product-short-description">
							<ul>
								<li>
									<span class="a-list-item">Intel Core i5 processors (13-inch model)</span>
								</li>
								<li>
									<span class="a-list-item">Intel Iris Graphics 6100 (13-inch model)</span>
								</li>
								<li>
									<span class="a-list-item">Flash storage</span>
								</li>
								<li>
									<span class="a-list-item">Up to 10 hours of battery life2 (13-inch model)</span>
								</li>
								<li>
									<span class="a-list-item">Force Touch trackpad (13-inch model)</span>
								</li>
							</ul>
						</div>

						<div class="product-sku">SKU: 5487FB8/15</div>
					</a>
					<div class="price-add-to-cart">
						<span class="price">
							<span class="electro-price">
								<ins>
									<span class="amount">&#036;1,999.00</span>
								</ins>
								<del>
									<span class="amount">&#036;2,299.00</span>
								</del>
							</span>
						</span>
						<a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
					</div>
					<!-- /.price-add-to-cart -->
					<div class="hover-area">
						<div class="action-buttons">
							<a href="#" rel="nofollow" class="add_to_wishlist">Wishlist</a>
							<a href="#" class="add-to-compare-link">Compare</a>
						</div>
					</div>
				</div>
				<!-- /.product-inner -->
			</div>
			<!-- /.product-outer -->
		</li>
	</ul>
</div>
